<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
autoReload="true"
throwExceptions="false"
internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


	<variable name="layoutVal" value="${longdate} [${uppercase:${level:padding=-5}}] PID[${processid:padding=5}] SID[${threadid:padding=5}] ${callsite} - ${message} ${exception:format=Message, Type, ToString:separator=*}"/>

	<targets>
		<default-wrapper xsi:type="AsyncWrapper">
			<wrapper-target xsi:type="RetryingWrapper"/>
		</default-wrapper>
		<target
			name="logconsole"
			encoding="UTF-8"
			xsi:type="Console"
			layout="${layoutVal}"
		/>
		<target  name="f1"
			encoding="UTF-8"
			xsi:type="File"
			fileName="${basedir}/log/f1.txt"
			layout="${layoutVal}"
			archiveNumbering="Date"
			archiveFileName="${basedir}/log/archive/{#}-log.txt"
			archiveEvery="Day"
			archiveDateFormat="yyyyMMdd"
			maxArchiveFiles="7"
		/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="f1" />
	</rules>
</nlog>
